{% extends "base.html" %}
{% block weather %} {{ weather|safe() }} {% endblock %}
{% block subtitle %}
    <strong>서울시 CCTV 현황</strong>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-9">
            <table class="table table-sm" style="margin-bottom: 80px;">
                <tr>
                    <th style="text-align: center;">자치구</th>
                    <th style="text-align: right;">CCTV 댓수</th>
                    <th style="text-align: right;">최근 증가율</th>
                    <th style="text-align: right;">인구수</th>
                    <th style="text-align: right;">인당 CCTV</th>
                </tr>
                {% for row in tbl %}
                    <tr>
                        <td style="text-align: center;">{{row.idx}}</td>
                        <td style="text-align: right;">{{'{:,}'.format(row.number)}}</td>
                        <td style="text-align: right;">{{row.inc|round(2)}}</td>
                        <td style="text-align: right;">{{'{:,}'.format(row.population)}}</td>
                        <td style="text-align: right;">{{row.ratio|round(2)}}</td>
                    </tr>    
                {% endfor %}
                <tr>
                    <td colspan="5" style="text-align: center;">
                        <button class="btn btn-primary mt-3 mr-5"
                                onclick="location.href='/seoul/cctv/graph'">그래프로 보기</button>
                        <button class="btn btn-primary mt-3"
                                onclick="location.href='/seoul/cctv/table'">테이블로 보기</button>
                    </td>
                </tr>
            </table>
            <div class="col-2"></div>
        </div>
    </div>   
{% endblock %}