{% extends "base.html" %}
{% block additional_head %}
    <style>
        th, td { text-align: center; vertical-align: middle; }
    </style>
{% endblock %}
{% block weather %} {{ weather|safe() }} {% endblock %}
{% block subtitle %}
    <strong>조 추첨</strong> - 결과
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div id="show"></div>
            <table class="table">
                <tr class="d-flex">
                    <th class="col-6">발표 순서</td>
                    <th class="col-6"><strong>조</strong></td>
                </tr>
                {% for order in finals %}
                <tr class="d-flex">
                    <td class="col-6">{{loop.index}}</td>
                    <td class="col-6">
                        <img src="{{url_for('static', filename='digits/metro'+order|string()+'.svg')}}" width="28" alt="{{order}} 조">
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <button class="btn btn-primary" 
                                onclick="location.href='/misc/order'">재실행</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-1"></div>
    </div>
{% endblock %}
{% block additional_body %}
    <script>
        var count = 3;
        const show = document.getElementById('show');
        function disp(num) {
            let img = document.createElement('img');
            img.setAttribute('src', '/static/digits/metro'+num+'.svg');
            img.setAttribute('width', '600');
            img.setAttribute('id', 'second');
            img.setAttribute('class', 'm-5');
            show.append(img);
        }
        function hide() {
            let sec = document.getElementById('second');
            show.removeChild(sec);
        }
        function countDown() {
            disp(count--);
            let interval = setInterval(() => {
                hide();
                if (count != 0) 
                    disp(count--);
            }, 1000);
            setTimeout(() => {
                clearInterval(interval);
            }, 3000);
        }
        window.onload = countDown;
    </script>
{% endblock %}