{% extends "base.html" %}
{% block weather %} {{ weather|safe() }} {% endblock %}
{% block subtitle %}
    <strong>얼굴 검출</strong><small> </small>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <form action="/advanced/face" method="POST" enctype="multipart/form-data">
                <table class="table table-borderless">
                    <tr>
                        <td><label for="csv">이미지</label></td>
                        <td>
                            <div class="custom-file mb-3">
                                <input type="file" class="custom-file-input" id="image" name="image">
                                <label class="custom-file-label" for="image">얼굴 검출할 이미지 파일 선택</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;">
                            <button type="submit" class="btn btn-primary mr-2">실행</button>
                            <button type="reset" class="btn btn-secondary">취소</button>
                        </td>
                    </tr>
                </table>		
            </form>
            <ul>
                <li>이미지는 png 또는 jpg 포맷만 지원합니다.</li>
                <li>이미지의 가로와 세로 길이는 2048px 이하여야 합니다.</li>
                <li>이미지의 최대 용량은 2MB 입니다.</li>
            </ul>
        </div>
        <div class="col-2"></div>
    </div>
{% endblock %}
{% block additional_body %}
    <script>
        $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
{% endblock %}