{% extends "base.html" %}
{% block weather %} {{ weather|safe() }} {% endblock %}
{% block subtitle %}
    <strong>등록하기</strong>
    <span style="font-size: 0.6em;">
        <a href="/pbbs/list/{{page}}" class="ml-5""><i class="fas fa-list-ul"></i> 목록</a>
    </span>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <form action="/pbbs/register" method="post" enctype="multipart/form-data">
                <table class="table table-borderless table-sm">
                    <tr class="d-flex">
                        <td class="col-2" style="text-align: center;"><label for="title" class="col-form-label">제목</label></td>
                        <td colspan="2" class="col-8"><input type="text" name="title" id="title" class="form-control"></td>
                        <td class="col-1" style="text-align: right;"><label for="days" class="col-form-label">기간</label></td>
                        <td class="col-1"><input type="text" name="days" id="days" class="form-control" placeholder="5"></td>
                    </tr>
                    <tr class="d-flex">
                        <td class="col-2" style="text-align: center;"><label for="content" class="col-form-label">내용</label></td>
                        <td colspan="4" class="col-10"><textarea class="form-control" name="content" id="content" rows="5"></textarea></td>
                    </tr>
                    <tr class="d-flex">
                        <td class="col-2" style="text-align: center;"><label for="ht" class="col-form-label">해시태그</label></td>
                        <td colspan="2" class="col-7"><input type="text" name="ht" id="ht" class="form-control" placeholder="#인공지능, #파이썬, #웹"></td>
                        <td class="col-1" style="text-align: right;"><label for="term" class="col-form-label">수행년월</label></td>
                        <td class="col-2"><input type="text" name="term" id="term" class="form-control" placeholder="2022.06"></td>
                    </tr>
                    <tr class="d-flex">
                        <td class="col-2" style="text-align: center;"><label for="name1" class="col-form-label">멤버</label></td>
                        <td class="col-1" style="text-align: right;"><label for="name1" class="col-form-label">이름</label></td>
                        <td class="col-3"><input type="text" name="name1" id="name1" class="form-control"></td>
                        <td class="col-2" style="text-align: right;"><label for="email1" class="col-form-label">이메일</label></td>
                        <td class="col-4"><input type="email" name="email1" id="email1" class="form-control"></td>
                    </tr>
                    <tr class="d-flex">
                        <td class="col-2"></td>
                        <td class="col-1" style="text-align: right;"><label for="name2" class="col-form-label">이름</label></td>
                        <td class="col-3"><input type="text" name="name2" id="name2" class="form-control"></td>
                        <td class="col-2" style="text-align: right;"><label for="email2" class="col-form-label">이메일</label></td>
                        <td class="col-4"><input type="email" name="email2" id="email2" class="form-control"></td>
                    </tr>
                    <tr class="d-flex">
                        <td class="col-2"></td>
                        <td class="col-1" style="text-align: right;"><label for="name3" class="col-form-label">이름</label></td>
                        <td class="col-3"><input type="text" name="name3" id="name3" class="form-control"></td>
                        <td class="col-2" style="text-align: right;"><label for="email3" class="col-form-label">이메일</label></td>
                        <td class="col-4"><input type="email" name="email3" id="email3" class="form-control"></td>
                    </tr>
                    <tr class="d-flex">
                        <td class="col-2"></td>
                        <td colspan="4" class="col-10"><input type="text" name="info" id="info" class="form-control" placeholder="제임스, james@ckworld.com"></td>
                    </tr>
                    <tr class="d-flex">
                        <td class="col-2" style="text-align: center;"><label for="cn" class="col-form-label">과정</label></td>
                        <td class="col-1" style="text-align: right;"><label for="cn" class="col-form-label">과정명</label></td>
                        <td class="col-5"><input type="text" name="cn" id="cn" class="form-control"></td>
                        <td class="col-2" style="text-align: right;"><label for="co" class="col-form-label">수행기관</label></td>
                        <td class="col-2"><input type="text" name="co" id="co" class="form-control"></td>
                    </tr>
                    <tr class="d-flex">
                        <td class="col-2" style="text-align: center;"><label for="pdf" class="col-form-label">첨부파일</label></td>
                        <td class="col-5" colspan="2">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="pdf" name="pdf">
                                <label class="custom-file-label" for="pdf">최종보고 PDF 파일</label>
                            </div>
                        </td>
                        <td class="col-5" colspan="2">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="mp4" name="mp4">
                                <label class="custom-file-label" for="mp4">시연 동영상 MP4 파일</label>
                            </div>
                        </td>
                    </tr>
                    <tr class="d-flex">
                        <td class="col-2"></td>
                        <td class="col-5" colspan="2">
                            <div class="custom-file mb-3">
                                <input type="file" class="custom-file-input" id="file3" name="file3">
                                <label class="custom-file-label" for="file3">기타 첨부파일</label>
                            </div>
                        </td>
                        <td class="col-5" colspan="2">
                            <div class="custom-file mb-3">
                                <input type="file" class="custom-file-input" id="file4" name="file4">
                                <label class="custom-file-label" for="file4">기타 첨부파일</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" style="text-align: center;">
                            <input class="btn btn-primary" type="submit" value="제출">
                            <input class="btn btn-secondary" type="reset" value="취소">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
{% endblock %}
{% block additional_body %}
    <script>
        $("#pdf").on("change", function() {
            var fileName1 = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName1);
        });
        $("#mp4").on("change", function() {
            var fileName2 = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName2);
        });
        $("#file3").on("change", function() {
            var fileName3 = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName3);
        });
        $("#file4").on("change", function() {
            var fileName4 = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName4);
        });
    </script>  
{% endblock %}