{% extends "base.html" %}
{% block weather %} {{ weather|safe() }} {% endblock %}
{% block subtitle %}
    <strong>수정하기</strong>
    <span style="font-size: 0.6em;">
        <a href="/pbbs/list/{{page}}" class="ml-5""><i class="fas fa-list-ul"></i> 목록</a>
    </span>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <form action="/pbbs/update/{{row.pid}}" method="post" enctype="multipart/form-data">
                <table class="table table-borderless table-sm">
                    <tr class="d-flex">
                        <td class="col-2" style="text-align: center;"><label for="title" class="col-form-label">제목</label></td>
                        <td colspan="2" class="col-8"><input type="text" name="title" id="title" class="form-control" value="{{row.title}}"></td>
                        <td class="col-1" style="text-align: right;"><label for="days" class="col-form-label">기간</label></td>
                        <td class="col-1"><input type="text" name="days" id="days" class="form-control" value="{{row.days}}"></td>
                    </tr>
                    <tr class="d-flex">
                        <td class="col-2" style="text-align: center;"><label for="content" class="col-form-label">내용</label></td>
                        <td colspan="4" class="col-10"><textarea class="form-control" name="content" id="content" rows="5">{{row.content}}</textarea></td>
                    </tr>
                    <tr class="d-flex">
                        <td class="col-2" style="text-align: center;"><label for="ht" class="col-form-label">해시태그</label></td>
                        <td colspan="2" class="col-7"><input type="text" name="ht" id="ht" class="form-control" value="{{', '.join(row.ht)}}"></td>
                        <td class="col-1" style="text-align: right;"><label for="term" class="col-form-label">수행년월</label></td>
                        <td class="col-2"><input type="text" name="term" id="term" class="form-control" value="{{row.term}}"></td>
                    </tr>
                    {% for author in row.authors %}
                    <tr class="d-flex">
                        {% if loop.first %}
                            <td class="col-2" style="text-align: center;"><label for="{{'name' + loop.index|string()}}" class="col-form-label">멤버</label></td>
                        {% else %}
                            <td class="col-2"></td>
                        {% endif %}
                        <td class="col-1" style="text-align: right;"><label for="{{'name' + loop.index|string()}}" class="col-form-label">이름</label></td>
                        <td class="col-3"><input type="text" name="{{'name' + loop.index|string()}}" id="{{'name' + loop.index|string()}}" class="form-control" value="{{author.name}}"></td>
                        <td class="col-2" style="text-align: right;"><label for="{{'email' + loop.index|string()}}" class="col-form-label">이메일</label></td>
                        <td class="col-4"><input type="text" name="{{'email' + loop.index|string()}}" id="{{'email' + loop.index|string()}}" class="form-control" value="{{author.email}}"></td>
                    </tr>
                    {% endfor %}
                    <input type="hidden" name="numAuthors" value="{{ row.authors | length() }}">
                    <tr class="d-flex">
                        <td class="col-2" style="text-align: center;"><label for="cn" class="col-form-label">과정</label></td>
                        <td class="col-1" style="text-align: right;"><label for="cn" class="col-form-label">과정명</label></td>
                        <td class="col-5"><input type="text" name="cn" id="cn" class="form-control" value="{{row.cn}}"></td>
                        <td class="col-2" style="text-align: right;"><label for="co" class="col-form-label">수행기관</label></td>
                        <td class="col-2"><input type="text" name="co" id="co" class="form-control" value="{{row.co}}"></td>
                    </tr>
                    <tr class="d-flex">
                        <td class="col-2" style="text-align: center;">첨부된 파일</td>
                        <td class="col-10" colspan="4">
                            <div class="uploaded-group">
                                {% for file in row.files %}
                                    <div class="uploaded">
                                        <span class="sp">{{file}}</span>
                                        <a href="javascript:return false;" onclick="del_file(this)" fname="{{file}}"><span class="badge badge-secondary mb-2">삭제</span></a>
                                    </div>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    <input type="hidden" name="filelist" id="filelist" value="">
                    <tr class="d-flex">
                        <td class="col-2" style="text-align: center;">파일 첨부</td>
                        <td class="col-10">
                            <div class="control-group" id="fields">
                                <div class="controls">
                                    <div class="entry input-group upload-input-group">
                                        <input class="form-control mb-2" type="file" name="fields[]" multiple="multiple">
                                        <button class="btn btn-upload btn-success btn-add mb-2" type="button">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" style="text-align: center;">
                            <button class="btn btn-primary" id="send">제출</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
{% endblock %}
{% block additional_body %}
    <script>
        function del_file(obj) {
            $(obj).parent().remove();
        }
        $(function () {
            $(document).on('click', '#send', function(e) {
                let flist = [];
                e.preventDefault();
                $('.sp').each(function(index) {
                    flist.push($(this).text());
                });
                //console.log(JSON.stringify(flist));
                $('#filelist').attr('value', JSON.stringify(flist));
                $('form').submit();
            }).on('click', '.btn-add', function(e) {
                e.preventDefault();
                var controlForm = $('.controls:first'),
                    currentEntry = $(this).parents('.entry:first'),
                    newEntry = $(currentEntry.clone()).appendTo(controlForm);

                newEntry.find('input').val('');
                controlForm.find('.entry:not(:last) .btn-add')
                    .removeClass('btn-add').addClass('btn-remove')
                    .removeClass('btn-success').addClass('btn-danger')
                    .html('<span class="fa fa-trash"></span>');
            }).on('click', '.btn-remove', function(e) {
                $(this).parents('.entry:first').remove();
                e.preventDefault();
                return false;
            });
        });
    </script>
{% endblock %}